bazel-*
tags
.idea/
cmake-build-debug/
*.pyc
mace/codegen/models/
mace/codegen/opencl/
mace/codegen/opencl_bin/
mace/codegen/tuning/
mace/codegen/version/
mace/codegen/engine/
mace/codegen/lib/
build/
docs/_build/
*.a

.vscode/
builds/
mace/examples/android/macelibrary/src/main/cpp/mace/

\.project/
