; [models]
; DIRECTORIES = mobile_net/64/

[configs]
; If exists 'models' section, this section will be global variable to sub models
; Otherwise this is the model's config and must be put in the same dirs with model.pb
TF_INPUT_NODE=input
TF_OUTPUT_NODE=output
MODEL_TAG=mobile_net
INPUT_SHAPE=1,64,64,3
OUTPUT_SHAPE=1,64,64,2
RUNTIME=gpu
TUNING_OR_NOT=1
ANDROID_ABI=armeabi-v7a ; Or 'arm64-v8a'
LIMIT_OPENCL_KERNEL_TIME=0
DSP_MODE=0 ; used only for dsp
